<div class="formcontent">
    <div class="forms">
        <div class="layouts">
            <div class="mb-3">
                <!--<form (ngSubmit)="loginUser()">-->
                    <form class="form col-md-6"#userlogin="ngForm" (ngSubmit)="userLogin()">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <!--<input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="name@example.com">
                    <label for="Email">Email</label>-->  
                    <input type="email" class="form-control" #email="ngModel" id="email" [(ngModel)]="user.email" pattern="^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+)[.]([a-z]{2,3})(.[a-z]{2,3})?$" placeholder="email@example.com" name="email" required />
                    <label for="error" class="text-danger" *ngIf="email.touched && email.invalid" >Invalid Email</label><br>
            
            <div class="mb-3 ">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                </div>
                <!--<input type="password" class="form-control" id="inputPassword">--> 
                    <input type="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" id="inputpassword" placeholder="Password" name="password" required />
            <label for="error" class="text-danger" *ngIf="password.touched && password.invalid">Invalid Password</label><br>
  
                </div>
            <!--</div>-->
            
            <button type="button" class="btn btn-success"><a href="">Login</a></button>
            <h6 style=color:blue>New Student?</h6><button type="button" class="btn btn-primary"><a routerLink="/signup">Signup</a></button>
            <!--<button type="submit" id="submit"  class="btn btn-primary btnlogin" >Login</button> <br>-->
        </form>
          <!--<br>
            <button type="button" class="btn btn-primary"><a href="">Register</a></button>-->  
        </div>
    </div>
</div>

